<div id="menu">
    <h2>Навігація по сайту</h2>
    <ul>
        <li> <a asp-area="" asp-controller="Home" asp-action="Index">About site</a></li>
        <li> <a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>

        <li><a href="#">Корисне посилання</a></li>

        <li><a href="#">Корисне посилання</a></li>
        <li><a href="#">Корисне посилання</a></li>

        <li><a href="#">Корисне посилання</a></li>
        <div class="line"></div>
        <li><a href="#">Корисне посилання</a></li>
        <div class="line"></div>
        <li><a href="#">Корисне посилання</a></li>
        <div class="line"></div>
        <li><a href="#">Корисне посилання</a></li>
        <li><a href="#">Корисне посилання</a></li>
        <li><a href="#">Корисне посилання</a></li>

    </ul>
</div>