@using Microsoft.AspNetCore.Identity;
@using HalushkoMessenger.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div id="nav">
    <ul>
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Dialogs">Hello, <span id="userName">@UserManager.GetUserName(User)</span> !</a>
            </li>
            <li id="home">
                <a asp-area="" asp-controller="Home" asp-action="Dialogs">My Dialogs</a>
            </li>
            <li id="home">
                <a asp-area="" asp-controller="Account" asp-action="Profile">My Profile</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        }
        else
        {
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        }

    </ul>
</div>
