
@Html.Partial("_Menu")

<div id="renderBody">
    <h1>About</h1><!--про пацанов-->
    <div id="text">
        <p style="font-size:18px;">
            Разработчиками данного сайта являются обычные студенты Киевского политехнического института, и раньше до карантина даже учились и жили на его территори.
            У каждого была своя судьба, но как не крути она свела этих студентов для написания совмесного проэкта - Мессенджера. Находясь в разных концах Украины они нашли способ делать совместный проэкт.
            Это и есть предистория создания проэкта.
        </p>
        <p style="font-size:18px;">Что касается ссылок на авторов, то возоможно они будут добавлены, а пока они скрыты из соображений безопасности. Просим отнестись с пониманием.
        </p>
    </div>
</div>