@model HalushkoMessenger.ViewModels.DialogMessagesViewModel

<div class="chatBox">

    @if (Model.Messages == null)
    {

        <div class="empty-dialog">
            <p>Please chose some dialog !</p>
        </div>
    }
    else
    {
        <div class="messageBox">
            <div class="container">
                <img src="/w3images/bandmember.jpg" alt="Avatar">
                <p>Hello. How are you today?</p>
                <span class="time-right">11:00</span>
            </div>

            <div class="container darker">
                <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
            </div>

        </div>
    }
    <div class="writingBox">
        @using (Html.BeginForm("Dialog", "Home"))
        {
            <div>

                @Html.TextBoxFor(d => d, new { message = Model.Messages, @id = "mainInput" })
                <input id="mainInput" type="text" placeholder="..." />
                <button type="submit" style="font-size:20px; border-radius:10px;"><i class="fa fa-send-o"></i></button>
            </div>
        }

    </div>
</div>