@model HalushkoMessenger.ViewModels.UserDialogsViewModel

@{
    ViewData["Title"] = "Dialogs";
}
@Html.Partial("_Menu")

<div id="renderBody">
    <h1>Your dialogs</h1>
    <div class="userList">
        Chose your dialog :
        @foreach (var dialog in Model.UserDialogs)
        {
            <div class="container">
               
                @Model.UserDialogs.Count
                @Html.ActionLink(dialog.Companion.UserName, "Dialog", "Home", new { dialogId = dialog.DialogId })
            </div>
        }

    </div>
</div>


