
@{
    ViewData["Title"] = "Dialogs";
}
    <div id="renderBody" class="full-width">
        <h1>Your dialogs</h1>
        <div class="userList">

            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
            <div class="container">
                qqqqqqqqqqqqqq
                qqqqqqqqqqqqqq

            </div>
        </div>
        <div class="chatBox">
            <div class="messageBox">
                <div class="container">
                    <img src="/w3images/bandmember.jpg" alt="Avatar">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
                <div class="container">
                    <img src="/w3images/bandmember.jpg" alt="Avatar">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
                <div class="container">
                    <img src="/w3images/bandmember.jpg" alt="Avatar">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
                <div class="container">
                    <img src="/w3images/bandmember.jpg" alt="Avatar">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
                <div class="container">
                    <img src="/w3images/bandmember.jpg" alt="Avatar">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>

                <div class="container darker">
                    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
            </div>
            <div class="writingBox">
                <input id="mainInput" type="text" placeholder="..."/>
            </div>
        </div>
    
    </div>


