@model HalushkoMessenger.ViewModels.UserDialogsViewModel

@{
    ViewData["Title"] = "Dialogs";
}
    <div id="renderBody" class="full-width">
        <h1>Your dialogs</h1>
        <div class="userList">
            @foreach (var dialog in Model.UserDialogs)
            {
                <div class="container">
                    @Html.ActionLink(dialog.CompanionFullName, "Dialog", "Home", new { id = dialog.DialogId })
                </div>
            }

        </div>
    </div>
    

