

@Html.Partial("_Menu")
    <div id="renderBody">
        <h1>Index</h1><!--про стайт-->
        <div id="text">
            <p style="font-size:18px;">
                Данный сайт являет собой студенческую реализацию такого приложения как Mессенджер. Мессенджер в русскоязычной интерпретации можно
                описать как средство для обмена сообщениями через интернет. Потребность в подобных приложениях появилась, думаю, с популяризациеей интернета. Наглядно
                в этом можно удостовериться, всего-то, заглянув в не такое далекое прошлое где "Аська" имела невероятную популярность за возможность обмениваться сообщениями.
                В современном же мире обмен рутинной информацией есть не отъемлимой частью нашей жизни. Поэтому дабы не занимать телефонные линии постоянными звонками, используя
                мобильный/проводной/etc. интернет люди в письменной форме отправляют сообщения знакомым или близким. И поскольку СМС-скми уже почти никто и не пользуется,
                люди используют мессенджеры. Именно благодаря мессенджерам люди вспоминают правила грамматики (зачастую забывая о пунктуации (как автор данного поста)) что
                безусловно отлично влияет на уровень грамотности населения, поскольку граммотно написанные сообщения куда быстрее будут поняты получателем.
            </p>
            <br />
            <p style="font-size:18px;">
                Что касается данного сайта - то он был разработан простыми студентами желающими обрести знания и умение в работе с MVC. Что касается MVC - ниже будет
                приведено определение с википедии для ознакомления пользователя данного сайта с таким акронимом как MVC
                <br />
                Model-View-Controller (MVC, «Модель-Представление-Контроллер», «Модель-Вид-Контроллер») — схема разделения данных приложения, пользовательского интерфейса и управляющей логики на три отдельных компонента: модель, представление и контроллер — таким образом, что модификация каждого компонента может осуществляться независимо.

                Модель (Model) предоставляет данные и реагирует на команды контроллера, изменяя своё состояние.
                <br />
                Представление (View) отвечает за отображение данных модели пользователю, реагируя на изменения модели.
                <br />
                Контроллер (Controller) интерпретирует действия пользователя, оповещая модель о необходимости изменений.
                <br />
            </p>
            <p style="font-size:18px;">
                Что касается цели данного мессенджера, так это донести то, что пользоватся инстаграммом как обенником сообщений - не возможно, и даже должно быть не приемлимо!
            </p>
        </div>
</div>