
@model HalushkoMessenger.ViewModels.SearchUserViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Menu")
@Html.Partial("")

<div id="renderBody">
    <h1>Our users</h1>
    <div class="userList">
        Find user:
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {

            <input type="text" name="userNameSubstr" placeholder="Find curent user">
            <input type="submit" class="btn btn-danger" value="Find" />

        }
        Chose user to start chating :
        @if (Model.Users.Count() != 0)
        {
            @foreach (var user in Model.Users)
            {
                <div class="container">
                    @*Ajax.ActionLink(user, "Search", new { user2Id = user.Id }, new AjaxOptions { HttpMethod = "Post" })*@
                </div>
            }
        }
        else
        {
            <div class="container">
                <div>
                    Не знайдено підходящих користувачів :(
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{  
    @*@Scripts.Render("~jquery.unobtrusive-ajax.min.js")*@
}