@model HalushkoMessenger.ViewModels.SearchUserViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Menu")

<div id="renderBody">
    <h1>Our users</h1>
    <div class="userList">
        Find user:
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {

            <input type="text" name="userNameSubstr" placeholder="Find curent user">
            <input type="submit" class="btn btn-danger" value="Find" />

        }
        Chose user to start chating :
        @if (Model.Users != null)
        {
            @foreach (var user in Model.Users)
            {
                <div class="container">
                    @Html.ActionLink(user.Name, "Search", "Home", user)
                </div>
            }
        }
        else { <div>Не знайдено підходящих користувачів :( </div>}
        
    </div>
</div>
